

.demo img{
    border-radius: 80px;
  margin-left: 10%;
    margin-top: 5%; 
}
    
.demo h3{
    width: 13%;
    margin-left: 2%;
    margin-top: 7%;
    margin-right: 4%}

.demo {
    display: flex;
    flex-direction: row;
}
span{
    margin-top: 7%;
    margin-left:0% ;
}
.complete h3{
    text-align: center;
}
.complete h3 button{
    background-color: #2fff6de8;
    border-color:#2fff6de8 ;
    border-radius: 3px;
    width: 85px;
    height: 37px;
}
